#calculator {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: black;
}

#calculator-input {
  color: white;
  background-color: black;
  border: none;  
}

#calculator-equal {
  background-color: lightblue;
}

#calculator-equal:hover {
  background-color: darkblue;
  color: white
}

#calculator-clear {
  background-color: lightcoral;
}

#calculator-clear:hover {
  background-color: red;
  color: white
}

.calculator-number {
  background-color: gray;
}

.calculator-number:hover {
  background-color:green;
}

.calculator-operator {
  background-color: lightgray
}

.calculator-operator:hover {
  background-color: green;
}

td[type=button] {
  padding: 5px;
}

table#calculator > tr > td {
  /* column-width: 20pt ; */
  width: 20pt;
}