#calculator {
  margin-left: auto;
  margin-right: auto;
  font-size: 40px;
  text-align: center;
  width: 300px;
  background-color: black;
}

#result {
  color: white;
}

#equal {
  background-color: lightblue;
}

#equal:hover {
  background-color: darkblue;
  color: white
}

#clear {
  background-color: lightcoral;
}

#clear:hover {
  background-color: red;
  color: white
}

.number {
  background-color: gray;
}

.button:hover {
  background-color:red;
}

.operator {
  background-color: lightgray
}
